@import "rs-vars";
@import "rs-typography";
@import "rs-btns";


body {
    font-family: @rmc-body;

    #topNav {
        background: #49494d;
        height: 76px;
        //border-bottom: 2px solid @rs-white;

        .navbar-toggle {
            .icon-bar {
                border: 1px solid @rs-white;
            }

        }

        #navbar {
            height: 100%;
            //border-bottom: 2px solid @rs-white;

            .navbar-nav {
                //border-bottom: 2px solid @rs-white;
                li {
                    &.active {
                        border-bottom: 2px solid @rs-green;
                    }
                    &:hover {
                        border-bottom: 2px solid @rs-green;
                    }
                    &.open {
                        background: darken( @rs-dk-grey, 5%);
                    }
                }
                a {
                    padding-top: 40px;
                    color: @rs-white;
                    &:hover, &:active, &:focus {
                        background: darken( @rs-dk-grey, 5%);
                    }
                    outline-color: lighten( @rs-dk-grey, 5%);
                }
            }

            .dropdown-menu {
                padding: 0;
                background: @rs-dk-grey;
                li {
                    &:hover {
                        border-bottom: none;
                    }
                    a {
                        padding: 1em;
                    }
                    &.active {
                        border-bottom: none;
                        a {
                            background: @rs-green;
                            color: @rs-white;
                        }
                    }


                }


            }

            .navbar-brand {
                margin-top: 3px;
            }

            &.navbar-collapse {
                background: @rs-dk-grey;
            }
        }

        .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
            background-color: darken( @rs-dk-grey, 2%);
        }

    }
    #rs-cta {
        margin-top: 75px;
        .item {
            height:311px;

            /* Small devices (tablets, 768px and up) */
            @media (min-width: @screen-sm-min) {
                height: 420px;
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: @screen-md-min) {
                height: 520px;
            }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: @screen-lg-min) {
                height: 600px;
            }

            width: auto;
        }

        &.carousel.fade
        {
            opacity: 1;

            .item
            {
                -moz-transition: opacity ease-in-out .7s;
                -o-transition: opacity ease-in-out .7s;
                -webkit-transition: opacity ease-in-out .7s;
                transition: opacity ease-in-out .7s;
                left: 0 !important;
                opacity: 0;
                top:0;
                position:absolute;
                width: 100%;
                display:block !important;
                z-index:1;
                &:first-child{
                    top:auto;
                    position:relative;
                }

                &.active
                {
                    opacity: 1;
                    -moz-transition: opacity ease-in-out .7s;
                    -o-transition: opacity ease-in-out .7s;
                    -webkit-transition: opacity ease-in-out .7s;
                    transition: opacity ease-in-out .7s;
                    z-index:2;
                }
            }
        }
        img
        {
            width: 100%;
            position: absolute;
            top: -20%;
        }
        .svg-nodes {
            position: absolute;
            z-index: 99;
        }

        .carousel-caption {
            z-index: 999;
            width: 50%;

            p
            {
                font-size: 2em;
                font-family: @rmc-headline-bold;
                text-transform: uppercase;
                margin-bottom: 0;
                text-shadow: none;
                padding: 1px 0.5em;
                display: table;


                &.carousel
                {
                    &-logo {
                        font-size: 1em;
                        height: 4em;
                        //width: 50%;
                        display: block;
                        position: relative;


                        img {
                            position: absolute;
                            top: 6px;
                            left: 0;
                            width: 50%;
                            padding: 1px;
                            background: @rs-purple;
                        }
                    }
                    &-tagline {
                        background: @rs-green;


                    }
                    &-product {
                        background: @rs-purple;
                    }
                }


            }

            &.ac {
                p {
                    text-align: left;
                }
                .carousel {
                    &-logo { }
                    &-tagline { }
                    &-product { }
                }
            }
            &.aa {
                p {
                    text-align: right;
                }
                .carousel {
                    &-logo {

                    }
                    &-tagline { }
                    &-product { }
                }
            }
            &.ta {
                p {
                    text-align: left;
                }
                .carousel {
                    &-logo { }
                    &-tagline { }
                    &-product { }
                }
            }
            &.rmc {
                p {
                    text-align: right;
                }
                .carousel {
                    &-logo { }
                    &-tagline { }
                    &-product { }
                }
            }

            @media (min-width: @screen-xs-min) {
                bottom: 5%;
                left: 5%;
                p {
                    font-size: .85em;
                }
            }
            /* Small devices (tablets, 768px and up) */
            @media (min-width: @screen-sm-min) {
                bottom: 5%;
                left: 5%;
                p {
                    font-size: 1.3em;
                }
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: @screen-md-min) {
                bottom: 5%;
                left: 5%;
                p {
                    font-size: 1.8em;
                }
            }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: @screen-lg-min) {
                bottom: 5%;
                left: 10%;
            }
        }
    }

    #div-1 {
        background: url( "../img/network.svg" ) #dbdbdb 0 -15% fixed;
        background-size: cover;
        height: 185px;
        border-top: 2px solid @rs-white;
        border-bottom: 2px solid @rs-white;
        .btn {
            padding: 10px 5px;
        }
        h3 {
            font-size: 1.5em;
            margin-top: 1%;
        }

        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            .btn {
                margin-top:40%;
                font-size: 1.1em;
            }
            h3 {
                font-size: 1.8em;
                margin-top: 5%;
            }
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: @screen-md-min) {
            .btn {
                margin-top:30%;
                font-size: 1.4em;
            }
            h3 {
                font-size: 1.8em;
                margin-top: 7%;
            }

        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
            .btn {
                margin-top:22%;
                font-size: 1.8em;
            }
            h3 {
                font-size: 1.8em;
                margin-top: 5%;
            }

        }
    }

    #div-rs-info {
        padding: 45px 0;
        background: @rs-purple url("../img/rebasoft-logo-watermark.svg") 130% 180% no-repeat scroll;
        -webkit-background-size: 60% auto;
        background-size:60% auto;
        border-bottom: 2px solid @rs-white;

        p, h1, h2 {
            color: @rs-white;
        }
        h1 {
            font-size: 2.4em;
            text-align: center;
            padding-bottom: 1em;
        }
        h2 {
            font-size: 1.5em;
            a {
                color: @rs-white;
                text-decoration: underline;
                &:hover {
                    color: @rs-green;
                }
            }
        }
        ol {
            .h1 {
                text-align: left;
                color: @rs-white;

                &:first-child {
                    padding-top: 1.5em;
                }

                &:last-child {
                    padding-bottom: 1.5em;
                }
            }
        }
        p {
            font-size: 1.2em;
        }

        section
        {
            .icon {
                padding-top: 1em;
            }
            .rs-product {
                height: 101px;
                width: 101px;
                display: inline-block;
                background: url("../img/rs-product-sprite.png")  no-repeat;
                font-size:0;
            }

            &.aa {
                .rs-product {
                    background-position: 0 -3px;
                    &:hover {
                        background-position: 0 -106px;
                    }
                }
            }
            &.ac {
                .rs-product {
                    height: 102px;
                    width: 102px;
                    background-position: -102px -4px;
                    &:hover {
                        background-position: -102px -106px;
                    }
                }
            }
            &.ta {
                .rs-product {
                    background-position: -205px -4px;
                    &:hover {
                        background-position: -205px -105px;
                    }
                }
            }
            &.rmc {
                .rs-product {
                    background-position: -307px -3px;
                    &:hover {
                        background-position: -307px -105px;
                    }
                }
            }
        }
    }

    #div-rs-casestudies {
        background: url( "../img/bg/bank.jpeg") 50% 33% no-repeat fixed;
        padding: 45px 0;

        p, h1 {
            color: @rs-white;
            text-align: right;
        }
        h1 {
            font-size: 2.4em;
            text-align: right;
            padding-bottom: 1em;
        }
        p {
            font-size: 1.2em;
        }

        section {
            background: rgba(255,255,255, .75);
            padding: 1em;
            margin: 1.5em auto;

            &:first-child {
                margin-top: 0;
            }
            h2 {
                margin-top: 1em;
            }

            p {
                color: @rs-dk-grey;
                text-align: left;
                font-size: 1em;

            }
            img {
                padding-top: 40px;
            }
        }
    }

    #div-rs-twitter {
        background: @rs-dk-grey;
        height: auto;
        border-top: 2px solid @rs-white;
        border-bottom: 2px solid @rs-white;
        padding: .5em 0;

        p, .handle, .date {
            font-size: 1.2em;
            color: @rs-white;
            line-height:1.5em;
        }

        p {
            font-size: 1.5em;
            margin-top: 1em;
        }

        img {
            margin-top: 1em;
        }

        a:hover, a:active, a:focus {
            color: @rs-green;
        }
    }

    #div-rs-news-and-blog {
        background: url( "../img/network.svg" ) #dbdbdb 80% -20% fixed repeat;
        background-size: 122%;
        padding: 60px;
        h1 {
            font-size: 2.2em;
        }

        section {
            margin: 3em 0;
            p {
                font-size: 1.1em;
                .date {
                    text-transform: uppercase;
                    color: @rs-blue;
                }
            }
        }

        .rs-blogs {
            section {

                h2 {
                    a {
                        font-family: @rmc-headline-light;
                        color: @rs-dk-grey;
                        &:hover {
                            color: @rs-green;
                        }
                    }
                }
            }
        }
    }

    #div-rs-phone {
        height: 100px;
        background: @rs-green;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 2.5em;
        color: @rs-white;
        div {
            padding-top: 0.7em;
            text-align: right;
            .phone-label {
                font-family: @rmc-headline-light;
                .phone-number {
                    font-family: @rmc-headline-bold;
                }
            }
        }

    }

    #div-rs-footer {
        background: #6c6c71 url( "../img/nodes.svg" ) 0 -125% fixed;
        background-size: 110%;
        padding: 30px 0;
        border-top: 3px solid @rs-dk-grey;

        h2, a {
            color: @rs-white;
            //text-align: right;
        }

        a {
            font-weight: normal;
            &:hover, &:active, &:focus {
                color: @rs-green;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                margin: .5em 0;
                //text-align: right;

            }
        }


    }

    #div-rs-sub-footer {
        background: @rs-dk-grey;
        color: @rs-white;
        padding: 1em 0;
        border-top: 2px solid @rs-white;

        .tagline {
            font-family: @rmc-headline-bold;
            text-transform: uppercase;
        }
    }

    #rs-sub-header {
        margin-top: 75px;
        height: 160px;
        background: url( "../img/network.svg" ) @rs-lt-grey 80% -20% fixed repeat;
        background-size: 60%;

        h1 {
            font-size: 3em;
            margin-top: 100px;
        }
    }

    #rs-main-content-top {
        background: #fff url( "../img/nodes.svg" ) 0 -125% fixed;
        background-size: 110%;
        border-top: 2px solid @rs-lt-grey;
        padding: 2em 0;

        h2 {
            font-family:@rmc-headline-bold;
            color: @rs-green;
            font-size: 1.6em;
        }
        P {
            font-size: 1.4em;
        }

        .btn-cta-xl {
            font-size: 1.5em;
            margin-top: 2em;
            padding: 1em 3em;
        }

        .contact-form {
            background: @rs-green;

            h3 {
                text-align: center;
                color: @rs-white;
                margin: 1em 0;
            }
            form {
                label {
                    color: @rs-white;
                    text-transform: uppercase;
                    font-weight: normal;
                }
                button {
                    margin: 1em 0;
                }
            }



        }
    }

    #div-rs-techinfo {
        background: @rs-dk-grey;
        height: 200px;

        @media (min-width: @screen-sm-min) {
            height: 110px;
        }

        h2 {
            color: @rs-white;

            /* Small devices (tablets, 768px and up) */
            @media (min-width: @screen-sm-min) {
                line-height:1em;
                margin-top: 2em;
            }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: @screen-lg-min) {
                line-height:3em;
            }
        }
        .btn {
            /* Small devices (tablets, 768px and up) */
            @media (min-width: @screen-sm-min) {
                font-size: .8em;
                margin-top: 2em;
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: @screen-md-min) {
                font-size: 1.1em;
                margin-top: 1em;
            }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: @screen-lg-min) {
                font-size: 1.5em;
                margin-top: .9em;
            }
        }

    }

    #rs-main-content-bottom {
        padding: 4em 0;
        h2 {
            font-family: @rmc-headline-light;
            color: @rs-green;
            font-size: 2.3em;
        }
        table {
            text-align: center;
            th {
                font-family: @rmc-headline-light;
                color: @rs-white;
                background: @rs-green;
                text-align: center;
                text-transform: uppercase;
                &:first-child {
                    text-align: left;
                }
            }
            td {
                vertical-align: middle;
                text-align: center;
                &:first-child {
                    text-align: left;
                }

                .glyphicon {
                    font-size: 1.5em;

                    &-remove {
                        color: @rs-red;
                    }
                    &-ok {
                        color: @rs-green;
                    }
                }
            }
        }
        .scenarios {
            background: @rs-lt-grey;
            color: @rs-dk-grey;
            font-size: 1.3em;
            padding: 1.5em;

            p {
                margin: 1em 0 2em 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            .task {
                color: @rs-blue;
                text-transform: uppercase;
            }
        }
    }

}